.module-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 5px;
	grid-auto-flow: dense;
}

.single-module {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	background-color: rgb(234, 234, 234);
	border-radius: 10px;
}

.single-module a {
	text-decoration: none;
	color: gray;
	font-size: 1.5rem;
	font-weight: 100;
}
