<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutAlign.xs="center" fxLayoutGap="10px" class="user-list"> -->
<div class="user-list">
	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>

	<div class="single-user">
		<p>kakon</p>
		<p>age: 20</p>
	</div>
</div>
