<div>Value: {{ addQuestionForm.value | json }}</div>

<form [formGroup]="addQuestionForm" (submit)="onAddQuestionSubmit()">
	<div class="add-new-button">
		<button mat-raised-button color="primary" (click)="onAddNewQuestion()">+ Add new</button>
	</div>
	<div formArrayName="questions">
		<div class="quiz-section" *ngFor="let question of QuestionsArray.controls; index as i" formGroupName="{{ i }}">
			<input type="text" placeholder="Question?" class="option question" formControlName="question" />

			<input type="text" placeholder="image url" class="option question" formControlName="image" />

			<div class="option-list" formArrayName="options">
				<div class="option-box" *ngFor="let option of optionsArray.controls; index as i" formGroupName="{{ i }}">
					<input type="checkbox" checked class="checkbox" formControlName="isAnswer" />
					<input
						type="text"
						class="option"
						placeholder=" Option {{ i === 0 ? 'A' : i === 1 ? 'B' : i === 2 ? 'C' : 'D' }}"
						formControlName="option"
					/>
				</div>
			</div>

			<input type="text" placeholder="subject" class="option details" formControlName="subject" />
			<input type="text" placeholder="chapter" class="option details" formControlName="chapter" />
			<input type="text" placeholder="source" class="option details" formControlName="source" />
		</div>
	</div>
</form>
