/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.bubble.css'; 
@import '~quill/dist/quill.snow.css';

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.ml-5 {
	margin-left: 5px;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.page-heading {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 100;
	margin-top: 20px !important;
}

// .fr-wrapper div:first-of-type {
// 	display: none;
//   }