<!-- <ng-template #kakon let-kakonAge="kakonerAge" let-kakonData>
	<div>Kakon age: {{ kakonAge }}</div>
	<div>Kakon data: {{ kakonData.kakonAge }}</div>
</ng-template>

<div *ngIf="showData; then kakon">
	<p>Hello this is show data</p>
</div>

<p>This is below ng template</p>

<ng-template #createDate let-row>
	<p>this is create date</p>
	<p>row {{ row }}</p>
	<span>{{ row.CreateDate | date : 'dd.MM.yyyy' }}</span>
</ng-template>
<ng-template #lastModifiedDate let-row>
	<span>{{ row.LastModifiedDate | date : 'dd.MM.yyyy' }}</span>
</ng-template> -->
<mat-toolbar></mat-toolbar>
<button mat-raised-button color="primary">Hello</button>
